.topnav li {
  float: left;
  background: rgb(155, 196, 247);
  text-align: center;
  margin-left: 1rem;
  margin-bottom: 0.2rem;
}
.home {
  text-align: center;
  font-size: 30px;
  padding: 1rem;
  float: none;
  position: relative;
  left: 40%;
}
.topnav li:hover {
  background: rgb(42, 218, 98);
}
