.topnav li {
  float: left;
  background: rgb(155, 196, 247);
  text-align: center;
  margin-left: 1rem;
  margin-bottom: 0.2rem;
}
.home {
  text-align: center;
  font-size: 30px;
  padding: 1rem;
  float: none;
  position: relative;
  left: 40%;
}
.topnav li:hover {
  background: rgb(42, 218, 98);
}
.pref {
  border-color: darkblue;
  position: relative;
  border: 0.2rem solid;
  top: 2rem;
}

h3 {
  color: rgb(87, 7, 156);
  font-size: larger;
  text-align: left;
}
h1 {
  color: rgb(9, 9, 10);
  font-size: 150%;
  font-style: normal;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h2 {
  color: rgb(4, 4, 4);
  font-size: 150%;
  font-style: initial;
}
.morestories {
  margin-bottom: 1rem;
}

.morestories a {
  margin-right: 1rem;
}
.cpright-text {
  color: rgba(23, 3, 111, 0.7);
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
  font-style: normal;
  font-size: medium;
}
.footer_nav {
  margin-bottom: 5rem;
  border-top: 0.1rem solid;
}

.footer_nav a {
  margin-right: 1.2rem;
}
p {
  color: rgb(5, 0, 10);
  font-size: medium;
}
body {
  background-color: rgb(223, 218, 183);
  margin-left: 0.3rem;
  position: relative;
}
